//設定index card 高度 <!--感受身心，活在當下-->
.card-h-set {
  height: 420px;
}
@include media-breakpoint-up(md) {
  card-h-set {
    height: 252px;
  }
}
@include media-breakpoint-up(lg) {
  .card-h-set {
    height: 420px;
  }
}

//card-img height and breakpoint <!--頂尖師資、專業教學-->
.card-img-first {
  width: 48px;
  height: 48px;
  margin-left: 16px;
}
.card-img {
  width: 48px;
  height: 48px;
  margin-left: 16px;
}
@include media-breakpoint-up(md) {
  .card-img-first {
    width: 94px;
    height: 94px;
    margin-left: 48px;
  }
  .card-img {
    width: 68px;
    height: 68px;
    margin-left: 32px;
  }
  .mxs-30 {
    margin-left: -30px;
  }
}
@include media-breakpoint-up(lg) {
  .mxs-95 {
    margin-left: -95px;
  }
  .mxs-30 {
    margin-left: 0px;
  }
}
//relax card height <!--舒適空間、靜心放鬆-->
.relax-card-first {
  height: 210px;
}
.relax-card {
  height: 210px;
}
@include media-breakpoint-up(md) {
  .relax-card-first {
    height: 266x;
  }
  .relax-card {
    height: 117px;
  }
}
@include media-breakpoint-up(lg) {
  .relax-card-first {
    height: 444px;
  }
  .relax-card {
    height: 207px;
  }
}
//comment card gap with Breakpoints   <!--聽聽他們怎麼說-->
.card-commen-gap {
  margin: 4px 15px;
}
@include media-breakpoint-up(md) {
  .card-comment-gap {
    margin: 8px 15px;
  }
}

//card img border-radius and height change  with Breakpoints <!--方案選擇-->
.card-img-border-direction {
  height: 243px;
  width: 100%;
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@include media-breakpoint-up(md) {
  .card-img-border-direction {
    height: 243px;
    min-width: 50%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: calc(1rem - 1px);
  }
}
@include media-breakpoint-up(lg) {
  .card-img-border-direction {
    height: 243px;
    width: 100%;
    border-top-right-radius: calc(1rem - 1px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
//course Description

.demonstration-card {
  position: relative;
  img {
    height: 196px;
  }
  &:before {
    text-shadow: 0 0 0 #fff;
    position: absolute;
    content: "60min";
    background: $secondary;
    border-radius: 16px;
    padding: 4px 16px;
    color: $white;
    font-size: 14px;
    top: -13px;
    left: 30px;
    font-weight: light;
  }
}
.pill{
  background: $secondary;
  border-radius: 16px;
  padding: 4px 16px;
  color: $white;
  font-size: 14px;
  font-weight: light;
}
//新增格線比例
@include media-breakpoint-up(lg){
  .col2-lg-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 44.44444%;
  }
  .col2-lg-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: 55.55555%;
  }
}
//coures description
.img-border1{
  border-radius: 50%;
  border: 3px solid $third;
  z-index: 999;
  img{
    border-radius: 50%;
    height: 96px;
    width: 96px;
  }
}
.img-border2{
  border-radius: 50%;
  border: 3px solid $secondary;
  z-index: 999;
  img{
    border-radius: 50%;
    height: 96px;
    width: 96px;
  }
}
.img-border-radius{
  border-radius: 16px;
}

//surround descript
.text-location{
  left:24px;
  bottom:24px
}
.text-location2{
  left:24px;
  bottom:24px;
  @include media-breakpoint-up(lg){
    bottom:24px
  }
}

//border-rasius
.border-rounded{
  border-radius: 16px;
}

//card check-cricle color
.white-transparent{
  color:rgba(255, 255, 255, 0.3);  
}
.card-btn{
  &:hover,&:focus{
      .white-transparent{
          color: $white;
      } 
      box-shadow: inset 0px 0px 0 5px $white !important; 
  }
}

//course-card toggleClass

.card-choosed.active{
  box-shadow:  0px 0px 0 5px $secondary !important;
  
}
.card-short-experience.none{
  display: none !important;
}
.card-long-experience.none{
  display: none !important;
}
.card-first-experience.none{
  display: none !important;
}