.input-style{
    border: 1px solid $secondary;
    border-radius: 4px;
    padding: 6px 12px;
}
.gender-selection-width{
    width: 65px;
}
//search input width
.input-width{
    width: 230px !important;
    @include media-breakpoint-up(md){
        width: 270px !important;
    }
    @include media-breakpoint-up(lg){
        width: 350px !important;
    }
}