.background-set{
  background: url(../images/banner.jpeg);
  background-size: cover;
  background-position: top 60% right 65% ;
  background-repeat: no-repeat;
  height: 560px;
}
//設定banner高度
@include media-breakpoint-up(md) {
  .background-md-set{
    height: 582px;
    background-size: cover;
    background-position: bottom 0 right 50% ;
  }
}
//設定index card 高度 
.card-h-set{
  height: 420px;
}
@include media-breakpoint-up(md) {
  card-h-set{
    height: 252px;
  }
}
@include media-breakpoint-up(lg) {
  .card-h-set{
    height: 420px;
  }
}

//教師頭像與卡片斷點大小
.card-img-first{
  width: 48px;
  height: 48px;
  margin-left: 16px;
}
.card-img{
  width: 48px;
  height: 48px;
  margin-left: 16px;
}
@include media-breakpoint-up(md) {
  .card-img-first{
  width: 94px;
  height: 94px;
  margin-left: 48px;
  }
  .card-img{
  width: 68px;
  height: 68px;
  margin-left: 32px;
  }
  .mxs-30{
  margin-left:-30px;
  }
}
@include media-breakpoint-up(lg) {
  .mxs-95{
    margin-left: -95px;
  }
  .mxs-30{
    margin-left: 0px;
  }
}
//relax card height
.relax-card-first{
  height: 210px;
}
.relax-card{
  height: 210px;
}
@include media-breakpoint-up(md) {
  .relax-card-first{
    height: 266x;
  }
  .relax-card{
    height: 117px;
  }
}
@include media-breakpoint-up(lg) {
  .relax-card-first{
    height: 444px;
  }
  .relax-card{
    height: 207px;
  }
}


//course card height
.course{
  width: 165px;
  height: 165px;
}
@include media-breakpoint-up(md) {
  .course{
    width: 150px;
    height: 150px;
  }
}
@include media-breakpoint-up(lg) {
  .course{
    width: 455px;
    height: 455px;
  }
}
//swiper
.swiper-container {
  width: 100%;
  height: 100%;

}

.swiper-slide {
  text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius: 16px;
  width: 445px !important;
}

.swiper-slide img {
  width: 100%;
  height: 445px;
}
//card img border-radius and height change  with Breakpoints
.card-img-border-direction{
  height: 243px;
  border-top-left-radius: calc(1rem - 1px);
  border-top-right-radius: calc(1rem - 1px);
  
}
@include media-breakpoint-up(md) {
  .card-img-border-direction{
    height: 243px;
    width: 50%;
    border-top-right-radius: 0;
    border-bottom-left-radius: calc(1rem - 1px);
  }
 
}
@include media-breakpoint-up(lg) {
  .card-img-border-direction{
    height: 243px;
    width: auto;
    border-top-right-radius: calc(1rem - 1px);
    border-bottom-left-radius:0
  }
  
}