<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./assets/style/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/css/datepicker.min.css">
  <link rel="stylesheet" href="./assets/style/all.css">
  <!--字體-->
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap"
    rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-primary position-relative">
    <div class="container-lg">
      <a class="navbar-brand" href="./index.html"><img src="./assets/images/DOYOGA-logo.png" alt="DOYOGA-logo"
          style="height: 30px;"></a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-align-justify fs-1"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 position-absolute  top-50 start-50 translate-middle">
          <li class="nav-item">
            <a class="fw-light nav-link fs-5" aria-current="page" href="./CourseDescription.html">
              課程介紹
            </a>
          </li>
          <li class="nav-item">
            <a class="fw-light nav-link fs-5" aria-current="page" href="#">
              瑜珈空間
            </a>
          </li>
          <li class="nav-item">
            <a class="fw-light nav-link fs-5" aria-current="page" href="#">
              當月課表
            </a>
          </li>
        </ul>
        <a class="btn btn-primary border rounded-pill me-7  text-fourth hoversytle" href="Reservation-1.html"
          role="button">立即預約</a>
        <a class="btn btn-primary border rounded-pill  text-fourth hoversytle" href="#" role="button">聯絡我們</a>
      </div>
    </div>
  </nav>
  <!--Fixed right side social media linker-->
  <ul class="position-fixed top-50 end-0 d-none d-lg-block list-unstyled d-lg-flex flex-column gap-3"
    style="z-index: 9999;">
    <li><a href="#"><i class="fab fa-facebook  text-third hoversytle" style="font-size: 48px;"></i></a></li>
    <li><a href="#"><i class="fab fa-instagram text-third hoversytle" style="font-size: 48px;"></i></a></li>
    <li><a href="#"><i class="fab fa-line  text-third hoversytle" style="font-size: 48px;"></i></a></li>
  </ul>
  <%- contents %>
    <!--footer-->
    <div class="bg-third">
      <div class="container-lg">
        <div class="row">
          <!--subscript-->
          <div class="col-12 mb-3 col-lg-5 mt-10 mt-md-14">
            <h2 class="text-white">現在訂閱，獲得課程優惠碼！</h2>
          </div>
          <div class="col-12 col-md-6 offset-lg-3 col-lg-4 mt-lg-14">
            <div class="input-group">
              <input class="form-control" type="emali" placeholder="請輸入您的電子信箱">
              <button class="btn btn-secondary fs-4 text-white" type="submit">訂閱</button>
            </div>
          </div>
        </div>
      </div>
      <hr class="text-white">
      <div class="container-lg">
        <!--Social network linker-->
        <div class="row">
          <div class="col-12 mb-3">
            <div class="d-flex justify-content-between">
              <a href=""><img src="./assets/images/DOYOGA.png" alt="DOYOGA-logo" style="height: 30px;"></a>
              <ul class="d-flex align-items-center list-unstyled gap-3 ">
                <li><a href="#"><i class="fab fa-facebook fs-3"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram fs-3"></i></a></li>
                <li><a href="#"><i class="fab fa-line fs-3"></i></a></li>
              </ul>
            </div>
          </div>
          <!--other info linker-->
          <div class="col-12 mb-3 ">
            <h5 class="text-white fw-light"><a href="#">課程介紹</a></h5>
          </div>
          <div class="col-12 mb-3 col-lg-12">
            <h5 class="text-white fw-light"><a href="#">瑜珈空間</a></h5>
          </div>
          <div class="col-12 mb-3 col-md-2 col-lg-1">
            <h5 class="text-white fw-light"><a href="#">當月課表</a></h5>
          </div>
          <div class="col-12 mb-3 offset-md-2 col-md-4 offset-lg-3 col-lg-4">
            <div class="d-flex justify-content-md-center">
              <h5 class="text-white fw-light">© 2021. All Rights Reserved.</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.4/dist/js/datepicker-full.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>