.reservation-note-width{
    width: 100%;
}
@include media-breakpoint-up(md){
    .reservation-note-width{
        width: 50%;
    }
}
//hide block
.hide{
    display: none;
}
.display{
    display: block;
}
